@CHARSET "UTF-8";

body
{
	background-color: black;
}

h1
{
	text-align: center;
	font-family: Courier;
	font-weight: bold;
	font-size: 3em;
	color: purple;
}

button.acc
{
	font-size: 2em;
	font-family: Courier;
	border: outset;
	background-color: orange;
	margin: 10px;
	padding: 10px;
}

.item
{
	float: left;
	border: 5px black outset;
	background-color: purple;
	border-radius: 20px;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: red;
	margin: 5px;
	padding: 5px;
	width: 250px;
}

img.pic
{
	border-radius: 20px;
	width: 250px;
	height: 250px;
}

img.buy
{
	border: 5px teal outset;
	border-radius: 20px;
	width: 500px;
	height: 500px;
}

div.con
{
	border: 10px #AAAAAA inset;
	background-color: purple;	
	font-family: arial;
	font-size: 2em;
	color: red;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 100px;
}

button.buy
{
	background-color: black;
	color: white;
	font-size: 2em;
	font-family: impact;
	padding: 20px;
	margin: 10px;
}

div.warn
{
	text-align: center;
	color: black;
	background-color: #ffea00;
	font-family: impact;
	font-size: 36px;
	font-weight: bold;
}

div.maincon
{
	border: 10px #AAAAAA outset;
	background-color: aqua;
	padding: 50px;
	margin: 50px;
	height: 1000px;
}

