@CHARSET "UTF-8";

body
{
	background-color: #DDDDDD;
}

h1
{
	text-align: center;
	font-family: Courier;
}

button
{
	border: outset;
	margin: 5px;
	padding: 5px;
}

.item
{
	float: left;
	border: 5px black outset;
	border-radius: 20px;
	font-family: Arial;
	margin: 5px;
	padding: 5px;
	width: 250px;
}

img.pic
{
	border-radius: 20px;
	width: 250px;
	height: 250px;
}

img.buy
{
	border: 5px teal outset;
	border-radius: 20px;
	width: 500px;
	height: 500px;
	margin:	 10px;
}

div.con
{
	border: 10px #AAAAAA inset;
	background-color: aqua;	
	font-family: arial;
	font-size: 2em;
	color: blue;
	text-align: center;
}

button.buy
{
	background-color: black;
	color: white;
	font-size: 2em;
	font-family: impact;
	padding: 10px;
	margin: 10px;
}
